.main {
  background-image: url("./form1.jpg");
  background-repeat: repeat-y;
}


.container {
    width: 50%;
    margin: 0 auto;
  }
  
  .form-contact {
    width: 100%;
    font-family: "Arial", Times, serif;
  }
  
  .form-contact-input {
    width: 100%;
    color: #292929;
    font-size: 18px;
    background-color: #E9E9E9;
    border: 1px solid #E9E9E9;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    height: 40px;
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #ccc;
    text-indent: 20px;
  }
  
  .form-contact-textarea {
    width: 100%;
    color: #292929;
    font-size: 18px;
    background-color: #E9E9E9;
    border: 1px solid #E9E9E9;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    height: 200px;
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #ccc;
    text-indent: 20px;
    padding-top: 16px;
    padding-left: 0;
    padding-right: 0;
    font-family: "Arial", Times, serif;
  }
  
  .form-contact-button {
    width: 100%;
    font-size: 18px;
    border-radius: 4px;
    color: #fff;
    height: 40px;
    opacity: .8;
    margin-bottom: 20px;
    cursor: pointer;
    background: #00ff33;
    display: block;
    border: none;
    border-bottom: 1px solid #500707;
    border-right: 1px solid #500707;
    transition: 1s;
  }
  
  .form-contact-button:hover {
    opacity: 1;
  }
  h1{
    font-family:Georgia, "Times New Roman", Times, serif; 
        color:#00ff33; font-style:italic; 
        letter-spacing:-0.05em; 
        font-size:2.6em; 
        margin:1 5px; 
        text-align:center;
  }
  
  body {
    background-color:#009933; 
  }
  
  main { 
        width:955px; 
        margin:-1px auto 10px; 
        border:1px solid #ddd; 
        background-image: url("./form1.jpg");
        background-repeat: repeat-y;
        font-family:Arial, Helvetica, sans-serif 
  }
  
  header {
    width:955px;  
    height:95px;
  }
  
  footer{ 
        clear:both; 
        width:700px; 
        margin:0 auto; 
        font-size:0.75em; 
        text-align:center; 
        background-color:#ECECEC; 
        padding:5px;
  }
  
  a {
    text-decoration: none; 
    color: #222;
  }